.question{
    margin-top: 1%;
    margin-left: 3%;
    width:90%;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #9b9b9b;
    appearance: none;
    border-radius: 0.375rem;
}
.labelCls {
    margin-top: 10px;
}

.form-control{
    border: 2px solid #9b9b9b;
}



.dynamicLabelCls {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}

.sectionName {
    font-weight: bold;
    color: #757575;
    font-size: 20px;
}